.quote {
    padding-left:10px;
}

.head{
    background-color: cornflowerblue;
    color:white;
    text-align:center;
    padding-top:40px;
    padding-bottom:30px;
    margin-top:0;
}

.parallax {
    background-image: url("programming.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}